@import url(https://fonts.googleapis.com/css?family=Tangerine:400,700);

body {
    padding-top: 70px;
}
.navbar {
    font-family: 'Tangerine', cursive;
    font-size: xx-large;
}
.navbar-brand {
    font-size: larger;
}
h1, h2, h3 {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
