@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Tangerine:400,700);

body {
    padding-top: 70px;
    font-family: "Libre Baskerville", "Baskerville", "Baskerville Old Face", serif;
}
.navbar {
    font-family: "Tangerine", "Libre Baskerville", "Baskerville", "Baskerville Old Face", serif;
    font-size: xx-large;
}
.navbar-brand {
    font-size: larger;
}
h1 {
    font-family: "Tangerine", "Libre Baskerville", "Baskerville", "Baskerville Old Face", serif;
    font-weight: bold;
}
h2, h3 {
    font-family: "Libre Baskerville", "Baskerville", "Baskerville Old Face", serif;
}
@media(min-width:768px) {
    #wedding-party dt {
        width: 50%;
        padding-right: 2em;
    }
    #wedding-party dd {
        margin-left: 50%;
        padding-left: 2em;
    }
}
dd {
    margin-bottom: 1em;
}
